.address {
  text-align: center;
  font-style: normal;
}

.address__label {
  margin-bottom: calc(4 * var(--spacing));
  font-size: 20px;
  color: var(--text-main);
}

.address__link {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 300px;
  padding: calc(1 * var(--spacing)) calc(5 * var(--spacing));

  font-size: 20px;
  line-height: 1.5;
  color: var(--text-third);

  border: 1px solid transparent;
  border-radius: 60px 20px 60px 20px;
  transition: background-color var(--animation-duration) var(--animation-timing-function), color var(--animation-duration) var(--animation-timing-function);

  &:hover,
  &:focus {
    color: var(--text-second);
    background-color: var(--bgc-second);
  }
}

.address__icon {
  fill: none;
  stroke: currentColor;
}