.footer {
    position: relative;
    padding-top: calc(10 * var(--spacing));
    padding-bottom: calc(5 * var(--spacing));

    background-color: var(--bgc-main);

    @include mq(tablet) {
        padding-top: calc(8 * var(--spacing));
    }
}

.footer__container {
    @include mq(tablet) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: baseline;
    }
}
