.footer-contacts {
  text-align: center;

  @include mq(notDesktop) {
    margin-top: calc(8 * var(--spacing));
  }
}

.footer-contacts__text {
    margin-bottom: calc(4 * var(--spacing));
    font-size: 20px;
    color: var(--text-main);
}

.footer-contacts__item {
  &:not(:last-child) {
    margin-bottom: calc(4 * var(--spacing));
  }
}

.footer-contacts__link {
  padding-right: calc(2 * var(--spacing));
  padding-left: calc(2 * var(--spacing));
  padding-top: calc(1 * var(--spacing));
  padding-bottom: calc(1 * var(--spacing));

  font-size: 20px;
  color: var(--text-third);

  transition: background-color var(--animation-duration) var(--animation-timing-function), color var(--animation-duration) var(--animation-timing-function);

  border-radius: 30px 10px 30px 10px;

  &:hover,
  &:focus {
    background-color: var(--bgc-second);
    color: var(--text-second);
  }

  &--small {
    @include mq(mobile-only) {
      font-size: 16px;
    }
  }
}