.footer-bottom {
  margin-top: calc(15 * var(--spacing));
  padding-top: calc(5 * var(--spacing));

  text-align: center;
  border-top: 1px solid var(--think-line);

  @include mq(tablet) {
    display: flex;
    margin-top: calc(10 * var(--spacing));
    justify-content: center;
  }
}

.footer-bottom__text {
  color: var(--text-main);

  @include mq(mobile-only) {
    margin-bottom: calc(2 * var(--spacing));
  }

  @include mq(tablet) {
    &::after {
      content: "|";
      margin-left: calc(1 * var(--spacing));
    }
  }
}

.footer-bottom__privacy {
  color: var(--text-main);

  @include mq(tablet) {
    margin-left: calc(1 * var(--spacing));
  }
}