body {
    font-family: 'Roboto', sans-serif;
    // font-size: calc(14px + 1vw);
    // line-height: calc(1.1em + 1vw);
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03;

    background-color: var(--bgc-third);

    &.modal-open {
        @include mq(notDesktop) {
            overflow: hidden;
        }
    }
}

html,
body {
    height: 100%;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}