// #02302d (основной зелёный)
// #081617 ( черный)
// #23301d (тёмно-зелёный)
// #74846c (серый)
// #b9aa71 (светлый беж)

:root {
    --animation-duration: 250ms;
    --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    --header-fix-mobile: 60px;
    --header-fix-desktop: 80px;

    --main-black: #081617;
    --main-white: rgb(255, 255, 255);
    --main-blue: rgb(135, 135, 212);

    --text-main: #ca9b4a;
    --text-logo: #ca9b4a;

    --bgc-main: #080f2b;
    --bgc-second: #23301d;
    --bgc-third: rgba(116, 132, 108, 0.3);
    --bgc-fourth: rgba(2, 48, 45, 0.5);

    --accent-color: rgb(235, 235, 235);
    --accent-color-transparent: rgb(200, 214, 194);
    --footer-line: #ca9b4a81;

    --form-bgc-color-main: #333;
    --form-text-color-main: #fff;
    --form-accent-main: #7a956b;
    --form-accent-shadow-color: #fff;
    --form-file-load-color: #77608d;
    --form-bgc-color-checkbox: #fff;
    --form-sumbit-shadow: #161b13;
    --form-sumbit-hover: #4f6146;
    

    --mob-menu-outer-shadow: rgb(211, 191, 191);
    --scroll-track-shadow: rgba(0, 0, 0, 0.3);
    --scroll-thumb-shadow: rgba(0, 0, 0, 0.5);
}

.color-theme-ligth {
    --text-main: rgb(8, 0, 0);
    --bgc-main: #ffffff;
    --accent-color: rgb(39, 25, 87);
    --main-blue: rgb(102, 102, 192);
}