// #02302d (основной зелёный) #081617 (черный) #23301d (тёмно-зелёный) #74846c (серый) #b9aa71 (светлый беж)

:root {
    --spacing: 4px;
    
    --animation-duration: 250ms;
    --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    --display: block;

    --header-fix: 60px;
    @include mq(tablet) { --header-fix: 80px; }

    --hero-height-img-parallax: calc(50vh - var(--header-fix));

    --hero-height-main-img-parallax: calc(50vh - var(--header-fix));
    @include mq(tablet) { --hero-height-main-img-parallax: calc(80vh - var(--header-fix)); }
    @include mq(desktop) { --hero-height-main-img-parallax: calc(100vh - var(--header-fix)); }

    --hero-height-video-parallax: calc(50vh - var(--header-fix));
    @include mq(tablet) { --hero-height-video-parallax: calc(80vh - var(--header-fix)); }
    @include mq(desktop) { --hero-height-video-parallax: calc(100vh - var(--header-fix)); }
    
    --text-main: #ca9b4a;
    --text-second: #081617;
    --text-third: white;
    --text-logo: #ca9b4a;
    --text-shadow: #081617;
    
    --bgc-main: #02302d;
    --bgc-linear: #0f5e58;
    --bgc-second: #b9aa71;
    --bgc-third: rgb(209, 223, 201);

    --accent-color: rgb(235, 235, 235);
    
    --think-line: #ca9b4a81;
    --loader-color-first: white;
    --loader-color-second: #ca9b4a;
    --arrow-color: #b9aa71;
    --box-shadow: white;

    --form-bgc-color-main: rgb(124, 92, 92);
    --form-text-color-main: #fff;
    --form-accent-main: #7a956b;
    --form-accent-shadow-color: #fff;
    --form-error-shadow-color: #ed4337;
    --form-file-load-color: #77608d;
    --form-bgc-color-checkbox: #fff;
    --form-sumbit-shadow: #161b13;
    --form-sumbit-hover: #4f6146;
    
    --scroll-track-shadow: rgba(0, 0, 0, 0.3);
    --scroll-thumb-shadow: rgba(0, 0, 0, 0.5);
}

.color-theme-ligth {
    // --social-bgc: rgb(135, 135, 212);
}