:root {
    --animation-duration: 250ms;
    --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    --header-fix: 60px;
    @include mq(tablet) { --header-fix: 80px; }

    --hero-height-img-parallax: calc(50vh - var(--header-fix));

    --hero-height-main-img-parallax: calc(50vh - var(--header-fix));
    @include mq(tablet) { --hero-height-main-img-parallax: calc(80vh - var(--header-fix)); }
    @include mq(desktop) { --hero-height-main-img-parallax: calc(100vh - var(--header-fix)); }

    --hero-height-video-parallax: calc(50vh - var(--header-fix));
    @include mq(tablet) { --hero-height-video-parallax: calc(80vh - var(--header-fix)); }
    @include mq(desktop) { --hero-height-video-parallax: calc(100vh - var(--header-fix)); }

    --main-black: #081617;
    --main-white: rgb(255, 255, 255);
    --main-blue: rgb(135, 135, 212);

    --text-main: #ca9b4a;
    --text-logo: #ca9b4a;

    --bgc-main: #080f2b;
    --bgc-second: #23301d;
    --bgc-third: rgb(160, 179, 150);
    --bgc-fourth: rgba(2, 48, 45, 0.5);

    --accent-color: rgb(235, 235, 235);
    --accent-color-transparent: rgb(200, 214, 194);
    --think-line: #ca9b4a81;

    --form-bgc-color-main: rgb(124, 92, 92);
    --form-text-color-main: #fff;
    --form-accent-main: #7a956b;
    --form-accent-shadow-color: #fff;
    --form-error-shadow-color: #ed4337;
    --form-file-load-color: #77608d;
    --form-bgc-color-checkbox: #fff;
    --form-sumbit-shadow: #161b13;
    --form-sumbit-hover: #4f6146;
    
    --mob-menu-outer-shadow: rgb(211, 191, 191);
    --scroll-track-shadow: rgba(0, 0, 0, 0.3);
    --scroll-thumb-shadow: rgba(0, 0, 0, 0.5);
}

.color-theme-ligth {
    --text-main: rgb(255, 245, 245);
    --bgc-main: #0088cc;
    --accent-color: rgb(232, 233, 240);
    --main-blue: rgb(28, 28, 173);
    --text-logo: #dfb05f;

    --think-line: #ffffff4d;
}