.footer {
    padding-top: 40px;
    padding-bottom: 30px;

    background-color: var(--bgc-main);

    @include mq(tablet) {
        padding-top: 30px;
    }
}

.footer__container {
    @include mq(tablet) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: baseline;
    }

    @include mq(desktop) {
        max-width: 700px;
    }
}

.address {
    text-align: center;
    font-style: normal;
}

.address__text {
    margin-bottom: 15px;
    font-size: 20px;
    color: var(--text-main);
}

.address__link {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 300px;
    padding: 10px 20px;

    font-size: 20px;
    color: var(--main-blue);

    border: 1px solid transparent;
    border-radius: 60px 20px 60px 20px;
    transition: background-color var(--animation-duration) var(--animation-timing-function), color var(--animation-duration) var(--animation-timing-function);

    &:hover,
    &:focus {
        color: var(--bgc-main);
        background-color: var(--accent-color);
    }
}

.footer__bottom {
    margin-top: 60px;
    text-align: center;

    @include mq(tablet) {
        display: flex;
        margin-top: 40px;
    }
}

.footer__text {
    color: var(--text-main);

    @include mq(mobile-only) {
        margin-bottom: 10px;
    }

    @include mq(tablet) {
        &::after {
                content: "|";
                margin-left: 5px;
            }
    }
}

.footer__privacy {
    color: var(--text-main);
    
    @include mq(tablet) {
        margin-left: 5px;
    }
}