<section class="section">
    <div class="container">
        <h2 class="hero__title">Contacts</h2>
        <ul class="contacts">
            <li class="contacts__item">
                <p class="contacts__label">sales inquiries</p>
                <a class="contacts__link" href="tel:+393917014072">
                    +39 391 701 4072
                </a>
            </li>
            <li class="contacts__item">
                <p class="contacts__label">employment inquiries</p>
                <a class="contacts__link" href="tel:+393518722134">
                    + 39 351 872 2134
                </a>
            </li>
            <li class="contacts__item">
                <p class="contacts__label">general inquiries</p>
                <a class="contacts__link contacts__link--small" href="mailto:info@albarellaacquacoltura.com">
                    info@albarellaacquacoltura.com
                </a>
            </li>
        </ul>
    </div>
</section>