<section class="section contacts">
    <div class="container">
        <h2 class="hero__title">Contacts</h2>
        <ul class="contacts__list">
            <li class="contacts__item">
                <p class="contacts__label">sales inquiries</p>
                <a class="contacts__link" href="tel:+393917014072">
                    +39 391 701 4072
                </a>
            </li>
            <li class="contacts__item">
                <p class="contacts__label">employment inquiries</p>
                <a class="contacts__link" href="tel:+393518722134">
                    + 39 351 872 2134
                </a>
            </li>
            <li class="contacts__item">
                <p class="contacts__label">general inquiries</p>
                <a class="contacts__link contacts__link--small" href="mailto:info@albarellaacquacoltura.com">
                    info@albarellaacquacoltura.com
                </a>
            </li>
        </ul>
        <div class="google-map">
            <button type="button" class="google-map__label js-map-btn">View on map</button>
            <div class="google-map__thumb">
                <div class="google-map__init js-map"></div>
            </div>
        </div>
    </div>
</section>