<section class="section vacancies">
    <div class="container">
        <h2 class="vacancies__title lng-vac-title" id="vacanciesTop"></h2>
        <ul class="vacancies__list">
            <li class="vacancies__item">
                <a href="#aquacultureEngineer" class="vacancies__link js-vacancy">
                    <p class="vacancies__label lng-vac-label-1"></p>
                    <span class="vacancies__icon"></span>
                </a>
            </li>
            <li class="vacancies__item">
                <a href="#hatcheryTechnician" class="vacancies__link js-vacancy">
                    <p class="vacancies__label lng-vac-label-2"></p>
                    <span class="vacancies__icon"></span>
                </a>
            </li>
            <li class="vacancies__item">
                <a href="#flupsyTechnician" class="vacancies__link js-vacancy">
                    <p class="vacancies__label lng-vac-label-3"></p>
                    <span class="vacancies__icon"></span>
                </a>
            </li>
        </ul>
        <div class="vacancies__details vacancies__details--is-hidden js-vacancy-description">
            <div class="vacancies__details-wrapper">
                <h3 class="vacancies__details-position lng-vac-det-1-pos" id="aquacultureEngineer"></h3>
                <h4 class="vacancies__details-label lng-vac-det-1-label"></h4>
                <ul class="vacancies__details-list">
                    <li class="vacancies__details-item">
                        <p class="vacancies__details-text lng-vac-det-1-text-1"></p>
                    </li>
                    <li class="vacancies__details-item">
                        <p class="vacancies__details-text lng-vac-det-1-text-2"></p>
                    </li>
                    <li class="vacancies__details-item">
                        <p class="vacancies__details-text lng-vac-det-1-text-3"></p>
                    </li>
                    <li class="vacancies__details-item">
                        <p class="vacancies__details-text lng-vac-det-1-text-4"></p>
                    </li>
                    <li class="vacancies__details-item">
                        <p class="vacancies__details-text lng-vac-det-1-text-5"></p>
                    </li>
                    <li class="vacancies__details-item">
                        <p class="vacancies__details-text lng-vac-det-1-text-6"></p>
                    </li>
                    <li class="vacancies__details-item">
                        <p class="vacancies__details-text lng-vac-det-1-text-7"></p>
                    </li>
                    <li class="vacancies__details-item">
                        <p class="vacancies__details-text lng-vac-det-1-text-8"></p>
                    </li>
                </ul>
                <div class="vacancies__btn-box">
                    <button class="button button--box-shadow vacancies__details-btn lng-vac-det-1-btn-apply js-modal-careers-btn-open" type="button"
                        aria-label="mobal-open"></button>
                    <a href="#vacanciesTop" class="button button--box-shadow vacancies__details-btn  lng-vac-det-1-btn-close js-vacancy-close"></a>
                </div>
            </div>
        </div>
    </div>
</section>