<section class="section vacancies">
    <div class="container">
        <a class="hidden-anchor" id="vacanciesMain"></a>
        <h2 class="vacancies__title lng-vac-title"></h2>
        <ul class="vacancies__list">
            <li class="vacancies__item">
                <a href="#vacanciesTop" class="button vacancies__link js-vacancy" data-id="aquacultureEngineer">
                    <p class="vacancies__label lng-vac-label-1"></p>
                    <span class="vacancies__icon"></span>
                </a>
            </li>
            <li class="vacancies__item">
                <a href="#vacanciesTop" class="button vacancies__link js-vacancy" data-id="hatcheryTechnician">
                    <p class="vacancies__label lng-vac-label-2"></p>
                    <span class="vacancies__icon"></span>
                </a>
            </li>
            <li class="vacancies__item">
                <a href="#vacanciesTop" class="button vacancies__link js-vacancy" data-id="flupsyTechnician">
                    <p class="vacancies__label lng-vac-label-3"></p>
                    <span class="vacancies__icon"></span>
                </a>
            </li>
        </ul>
        <a class="hidden-anchor" id="vacanciesTop"></a>
        <div class="vacancies__details vacancies__details--is-hidden js-vacancy-description" data-id="aquacultureEngineer">
            <div class="vacancies__details-wrapper">
                <h3 class="vacancies__details-position lng-vac-det-1-pos"></h3>
                <h4 class="vacancies__details-label lng-vac-det-1-descr"></h4>
                <ul class="vacancies__details-list lng-vac-det-1-descr-text"></ul>
                <h4 class="vacancies__details-label lng-vac-det-1-req"></h4>
                <ul class="vacancies__details-list lng-vac-det-1-req-text"></ul>
                <div class="vacancies__btn-box">
                    <button class="button button--box-shadow vacancies__details-btn lng-vac-det-1-btn-apply js-modal-careers-btn-open" type="button"
                        aria-label="mobal-open"></button>
                    <a href="#vacanciesMain" class="button button--box-shadow vacancies__details-btn lng-vac-det-1-btn-close js-vacancy-close"></a>
                </div>
            </div>
        </div>
        <div class="vacancies__details vacancies__details--is-hidden js-vacancy-description" data-id="hatcheryTechnician">
            <div class="vacancies__details-wrapper">
                <h3 class="vacancies__details-position lng-vac-det-2-pos"></h3>
                <h4 class="vacancies__details-label lng-vac-det-2-descr"></h4>
                <ul class="vacancies__details-list lng-vac-det-2-descr-text"></ul>
                <h4 class="vacancies__details-label lng-vac-det-2-req"></h4>
                <ul class="vacancies__details-list lng-vac-det-2-req-text"></ul>
                <div class="vacancies__btn-box">
                    <button
                        class="button button--box-shadow vacancies__details-btn lng-vac-det-2-btn-apply js-modal-careers-btn-open"
                        type="button" aria-label="mobal-open"></button>
                    <a href="#vacanciesMain"
                        class="button button--box-shadow vacancies__details-btn lng-vac-det-2-btn-close js-vacancy-close"></a>
                </div>
            </div>
        </div>
        <div class="vacancies__details vacancies__details--is-hidden js-vacancy-description" data-id="flupsyTechnician">
            <div class="vacancies__details-wrapper">
                <h3 class="vacancies__details-position lng-vac-det-3-pos"></h3>
                <h4 class="vacancies__details-label lng-vac-det-3-descr"></h4>
                <ul class="vacancies__details-list lng-vac-det-3-descr-text"></ul>
                <h4 class="vacancies__details-label lng-vac-det-3-req"></h4>
                <ul class="vacancies__details-list lng-vac-det-3-req-text"></ul>
                <div class="vacancies__btn-box">
                    <button
                        class="button button--box-shadow vacancies__details-btn lng-vac-det-3-btn-apply js-modal-careers-btn-open"
                        type="button" aria-label="mobal-open"></button>
                    <a href="#vacanciesMain"
                        class="button button--box-shadow vacancies__details-btn lng-vac-det-3-btn-close js-vacancy-close"></a>
                </div>
            </div>
        </div>
    </div>
</section>