<section class="section vacancies">
    <div class="container">
        <h2 class="vacancies__title" id="vacanciesTop">Available positions</h2>
        <ul class="vacancies__list">
            <li class="vacancies__item">
                <a href="#aquacultureEngineer" class="vacancies__link js-vacancy">
                    <p class="vacancies__label">Aquaculture Engineer</p>
                    <span class="vacancies__icon"></span>
                </a>
            </li>
            <li class="vacancies__item">
                <a href="#hatcheryTechnician" class="vacancies__link js-vacancy">
                    <p class="vacancies__label">Hatchery Technician</p>
                    <span class="vacancies__icon"></span>
                </a>
            </li>
            <li class="vacancies__item">
                <a href="#flupsyTechnician" class="vacancies__link js-vacancy">
                    <p class="vacancies__label">Flupsy Technician</p>
                    <span class="vacancies__icon"></span>
                </a>
            </li>
        </ul>
        <div class="vacancies__details vacancies__details--is-hidden js-vacancy-description">
            <div class="vacancies__details-wrapper">
                <h3 class="vacancies__details-position" id="aquacultureEngineer">Aquaculture Engineer</h3>
                <p class="vacancies__details-label">
                    position description
                </p>
                <ul class="vacancies__details-list">
                    <li class="vacancies__details-item">
                        <p class="vacancies__details-text">
                            Study, research, develop & implement ideas for hatchery production modernisation as well as workflow
                            optimisation.
                        </p>
                    </li>
                    <li class="vacancies__details-item">
                        <p class="vacancies__details-text">
                            Participating in optimising and increasing efficiency of other production stages involved within the shellfish
                            lifecycle, such as pregrowing and oougrowing the shellfish to full size.
                        </p>
                    </li>
                    <li class="vacancies__details-item">
                        <p class="vacancies__details-text">
                            Being heavily involved from the project inception and design, all the way through to startup implementation and
                            innovation of further production facilities after the hatchery phase, such as FLUPSYs, upwelling tanks, raceway, sand
                            lagoon based nurseries
                        </p>
                    </li>
                    <li class="vacancies__details-item">
                        <p class="vacancies__details-text">
                            Maintenance of various site systems like water supply / filtration systems, various electrical circuits and heating
                            systems.
                        </p>
                    </li>
                    <li class="vacancies__details-item">
                        <p class="vacancies__details-text">
                            Provision of Technical assistance to hatchery workers in the form of resolving equipment malfunctions.
                        </p>
                    </li>
                    <li class="vacancies__details-item">
                        <p class="vacancies__details-text">
                            Personal innovative projects for creation of parts / systems from design phase to assembly.
                        </p>
                    </li>
                    <li class="vacancies__details-item">
                        <p class="vacancies__details-text">
                            Observation & analysis of test results, machine error messages, and information obtained from operators in order to
                            diagnose equipment problems.
                        </p>
                    </li>
                    <li class="vacancies__details-item">
                        <p class="vacancies__details-text">
                            Assembly, installation and / or repair of wiring, electronic and electrical components, pipe systems and plumbing,
                            machinery, and other aquaculture equipment.
                        </p>
                    </li>
                </ul>
                <div class="vacancies__btn-box">
                    <button class="button button--box-shadow vacancies__details-btn js-modal-careers-btn-open" type="button"
                        aria-label="mobal-open">
                        Apply
                    </button>
                    <a href="#vacanciesTop" class="button button--box-shadow vacancies__details-btn js-vacancy-close">
                        Close
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>