.main-page-hero {
  background-image: url('../images/main-page/hero.jpg');
  background-size: cover;
  background-position: center;
  padding-top: 300px;
  padding-bottom: 30px;

  @include mq(tablet) {
    padding-top: 450px;
  }

  @include mq(desktop) {
    padding-top: 600px;
    padding-bottom: 50px;
  }
}

.main-page-hero__label {
  margin-bottom: 20px;

  font-family: Roboto Slab, sans-serif;
  font-size: 36px;
  color: var(--text-main);
}

.main-page-hero__title {
  font-family: Gloria Hallelujah, sans-serif;
  font-size: 46px;
  color: var(--main-white);
  text-shadow: var(--main-blue) 5px 5px;
}