<section class="section">
    <div class="container">
        <h2>Facilities</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa saepe quidem iure provident debitis
            distinctio aperiam voluptates cum consequatur totam, quos dolorum beatae perferendis? Iste voluptatibus
            quibusdam dignissimos optio nemo magnam vero sunt totam in libero atque, autem dolore quas eveniet pariatur
            reprehenderit harum officiis ex exercitationem repudiandae! Iusto deleniti sapiente laborum! Sit adipisci
            magnam laudantium id illo. Excepturi assumenda, voluptas impedit consequuntur corporis aspernatur tenetur at
            eveniet dignissimos inventore nisi dolorum amet, tempora nulla beatae veritatis, ab quis vel cum laboriosam
            molestiae harum. Et quis iste corporis, vel deleniti, doloremque accusamus repellat ducimus esse dolor
            temporibus repudiandae rem odit odio explicabo. Excepturi tempora alias recusandae nostrum eius aliquid.
            Nihil illum est earum, aspernatur molestiae vel dignissimos quos debitis facilis aperiam commodi nam quam
            facere possimus eius harum recusandae, natus sunt amet qui, voluptatem ab. Nisi provident, doloremque
            eligendi voluptatum voluptatem corporis distinctio molestiae amet quaerat fugiat sunt quis ex tenetur atque
            officiis cupiditate voluptates? Beatae est rem tempore doloribus eius placeat amet omnis deserunt, ipsa
            optio sint saepe vel veritatis dolores quod at assumenda earum rerum quae eum voluptate nihil? Numquam quo
            placeat dolorum deserunt fugit, pariatur assumenda expedita suscipit nam accusantium eius harum ex vero odit
            nihil quibusdam.</p>
    </div>
</section>