<footer class="footer">
    <div class="container footer__container">
        <address class="address">
            <p class="address__text lng-footer-address">
                Our Location
            </p>
            <a class="address__link"
                href="https://www.google.com/maps/place/Albarella/@45.0264327,12.1240963,9.75z/data=!4m5!3m4!1s0x477e82d03c02ec99:0xdbea2800a5ebc8b2!8m2!3d45.074127!4d12.343655"
                rel="noopener noreferrer" target="_blank">
                <svg class="address__icon" width="34" height="34">
                    <use href="./images/icons.svg#icon-map-pin"></use>
                </svg>
                Italy, Albarella, Isola di Albarella
            </a>
        </address>
        <div class="join-us">
            <p class="join-us__text lng-footer-socials">
                Join Us
            </p>
            <ul class="socials">
                <li class="socials__item">
                    <a class="socials__link" href="https://www.instagram.com/?hl=ru"
                        rel="noopener noreferrer" target="_blank" aria-label="instagram">
                        <svg class="socials__icon" width="20" height="20">
                            <use href="./images/icons.svg#icon-social-instagram-1"></use>
                        </svg>
                    </a>
                </li>
                <li class="socials__item">
                    <a class="socials__link" href="https://twitter.com/?lang=ru" rel="noopener noreferrer"
                        target="_blank" aria-label="twitter">
                        <svg class="socials__icon" width="20" height="20">
                            <use href="./images/icons.svg#icon-social-twitter-2"></use>
                        </svg>
                    </a>
                </li>
                <li class="socials__item">
                    <a class="socials__link" href="https://www.facebook.com/" rel="noopener noreferrer"
                        target="_blank" aria-label="facebook">
                        <svg class="socials__icon" width="20" height="20">
                            <use href="./images/icons.svg#icon-social-facebook-3"></use>
                        </svg>
                    </a>
                </li>
                <li class="socials__item">
                    <a class="socials__link" href="https://www.linkedin.com/" rel="noopener noreferrer"
                        target="_blank" aria-label="linkedin">
                        <svg class="socials__icon" width="20" height="20">
                            <use href="./images/icons.svg#icon-social-linkedin-4"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer__bottom">
            <p class="footer__text lng-footer-bottom-1"> © 2022 - Albarella Acquacoltura</p>
            <p class="footer__privacy lng-footer-bottom-2">All Rights Reserved</p>
        </div>
    </div>
</footer>
<button class="top-btn js-back-to-top-btn" title="Go to top" type="button">
    <svg class="top-btn__icon" viewBox="0 0 24 24">
        <path d="M11.573 11.672a.615.615 0 0 1 .854 0l3.896 3.824a.578.578 0 0 1 0 .832.615.615 0 0 1-.853 0L12 12.92l-3.47 3.408a.615.615 0 0 1-.853 0 .578.578 0 0 1 0-.832zm0-4a.615.615 0 0 1 .854 0l3.896 3.824a.578.578 0 0 1 0 .832.615.615 0 0 1-.853 0L12 8.92l-3.47 3.408a.615.615 0 0 1-.853 0 .578.578 0 0 1 0-.832z"></path>
    </svg>
    <p class="lng-back-to-top">to top</p>
</button>