<header class="header">
  <div class="container header__container">
    <a class="logo" href="javascript:void(0);">
      <img class="logo__img logo__img--animate" src="images/logo.png" alt="Logo" width="50" height="50" />
      <span class="logo__text">Albarella Acquacoltura</span>
    </a>
    <button class="menu__mob-btn-open js-menu-mob-btn-open js-menu-mob-outside-close" type="button" aria-expanded="false"
      aria-label="mobile-menu-open">
      <svg class="menu__mob-icon-open js-menu-mob-outside-close" width="50" height="50">
        <use class="js-menu-mob-outside-close" href="./images/icons.svg#icon-open-mobile-menu"></use>
      </svg>
    </button>
    <div class="menu js-menu-mob">
      <div class="menu__container">
        <nav class="nav">
          <ul class="nav__list js-menu-mob-nav">
            <li class="nav__item"><a class="nav__link lng-nav-1" href="./" data-id="header">home</a></li>
            <li class="nav__item"><a class="nav__link lng-nav-2" href="./products.html" data-id="products">products</a></li>
            <li class="nav__item"><a class="nav__link lng-nav-3" href="./facilities.html" data-id="facilities">facilities</a></li>
            <li class="nav__item"><a class="nav__link lng-nav-4" href="./about.html" data-id="about">about</a></li>
            <li class="nav__item"><a class="nav__link lng-nav-5" href="./careers.html" data-id="careers">careers</a></li>
            <li class="nav__item"><a class="nav__link lng-nav-6" href="./contacts.html" data-id="contacts">contacts</a></li>
          </ul>
        </nav>
        <ul class="contacts-main contacts-main--is-hidden">
          <li class="contacts-main__item">
            <a class="contacts-main__link contacts__link--small" href="mailto:info@albarellaacquacoltura.com">
              info@albarellaacquacoltura.com
            </a>
          </li>
          <li class="contacts-main__item">
            <a class="contacts-main__link contacts__link--big" href="tel:+393917014072">
              +39 391 701 4072
            </a>
          </li>
        </ul>
        <ul class="lang-menu">
          <li class="lang-menu__item">
            <button class="lang-menu__btn js-lang-menu-btn" type="button">it</button>
          </li>
          <li class="lang-menu__item">
            <button class="lang-menu__btn js-lang-menu-btn" type="button">en</button>
          </li>
        </ul>
        <button class="color-theme js-color-theme-toggle">
          <div class="sun js-color-theme-sun"></div>
          <div class="moon visible js-color-theme-moon">
            <div class="star"></div>
            <div class="star small"></div>
          </div>
        </button>
      </div>
      <button class="menu__mob-btn-close js-menu-mob-btn-close" type="button" aria-label="mobile-menu-close">
        <svg class="menu__mob-icon-close" width="50" height="50">
          <use href="./images/icons.svg#icon-close-mobile-menu"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
