<div class="backdrop backdrop--hidden js-backdrop">
  <div class="form">
    <button class="form__btn-close js-modal-careers-btn-close" type="button" aria-label="mobal-close">
      <svg class="form__btn-close-icon" width="50" height="50">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <form action="#" class="form__body js-form-careers">
      <h1 class="form__title lng-form-title">Candidati per una posizione</h1>
      <div class="form__item">
        <label for="formFirstName" class="form__label lng-form-first-name">Nome *</label>
        <input id="formFirstName" type="text" name="firstName" class="form__input _req">
      </div>
      <div class="form__item">
        <label for="formLastName" class="form__label lng-form-last-name">Cognome *</label>
        <input id="formLastName" type="text" name="lastName" class="form__input _req">
      </div>
      <div class="form__item">
        <label for="formEmail" class="form__label lng-form-email">E-mail *</label>
        <input id="formEmail" type="email" name="email" class="form__input _req _email">
      </div>
      <div class="form__item">
        <label for="formPhoneNumber" class="form__label lng-form-phone-number">Numero di telefono *</label>
        <input id="formPhoneNumber" type="tel" name="phoneNumber" class="form__input _req">
      </div>
      <div class="form__item">
        <div class="form__label lng-form-position">Titolo di lavoro *</div>
        <select name="position" class="select">
          <option value="aquacultureEngineer" class="lng-form-position-1">Acquacoltura Ingegnere</option>
          <option value="hatcheryTechnician" class="lng-form-position-2">Tecnico Di Schiuditoio</option>
          <option value="flupsyTechnician" class="lng-form-position-3">Tecnico Di Flupsy</option>
        </select>
      </div>
      <div class="form__item">
        <div class="form__label lng-form-resume-label">Allegare un curriculum</div>
        <div class="file">
          <div class="file__item">
            <input accept=".pdf" type="file" name="resume" class="file__input js-form-resume">
            <button class="file__button lng-form-resume-upload-btn js-form-resume-btn">&#10149; Scegliere file &lt; 5 MB, .pdf</button>
          </div>
        </div>
      </div>
      <div class="form__item form__item--full-width">
        <label for="formMessage" class="form__label lng-form-comment">Commento</label>
        <textarea id="formMessage" name="comment" class="form__input"></textarea>
      </div>
      <div class="form__item form__item--full-width">
        <div class="checkbox">
          <input id="formAgreement" type="checkbox" name="agreement" class="checkbox__input _req">
          <label for="formAgreement" class="checkbox__label">
            <span class="checkbox__text">
              <span class="lng-form-agreement">Do il mio consenso al trattamento dei dati personali in conformità con</span>
              <a href="" class="checkbox__terms-link lng-form-agreement-terms">termini *</a>
            </span>
          </label>
        </div>
      </div>
      <button class="button button--box-shadow form__btn-submit js-form-submit-btn lng-form-submit" type="submit">invia</button>
      <div class="loader"></div>
    </form>
  </div>
</div>