.btn-top {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 4;

    display: none;
    flex-direction: column;
    align-items: center;
    padding-top: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    padding-left: 12px;

    font-size: 14px;
    color: var(--main-black);
    
    background-color: var(--accent-color-transparent);
    border-top-left-radius: 80%;
    transition: background-color var(--animation-duration) var(--animation-timing-function), color var(--animation-duration) var(--animation-timing-function);
    outline: none;
    
    @include mq(tablet) {
        padding-top: 12px;
        padding-right: 12px;
        padding-bottom: 12px;
        padding-left: 20px;
    }

    @include mq(desktop) {
        &:hover {
            color: var(--accent-color);
            background-color: var(--main-blue);
        }
    }
}

.btn-top__icon {
    width: 30px;
    fill: currentColor;
}