.btn-top {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 4;

    display: none;
    flex-direction: column;
    align-items: center;
    padding-top: calc(2 * var(--spacing));
    padding-bottom: calc(3 * var(--spacing));
    padding-right: calc(3 * var(--spacing));
    padding-left: calc(4 * var(--spacing));

    font-family: Gloria Hallelujah, sans-serif;
    font-size: 16px;
    color: var(--text-second);
    
    background-color: var(--bgc-second);
    border-top-left-radius: 80%;
    transition: background-color var(--animation-duration) var(--animation-timing-function), color var(--animation-duration) var(--animation-timing-function);
    outline: none;
    
    @include mq(tablet) {
        padding-top: calc(3 * var(--spacing));
        padding-bottom: calc(3 * var(--spacing));
        padding-right: calc(5 * var(--spacing));
        padding-left: calc(5 * var(--spacing));
        font-size: 18px;
    }

    @include mq(desktop) {
        &:hover {
            color: var(--accent-color);
            background-color: var(--bgc-main);
        }
    }
}

.btn-top__icon {
    width: 30px;
    fill: currentColor;
}