.lang-menu {
    display: flex;

    @include mq(tablet-only) {
        justify-content: center;
    }

    @include mq(notDesktop) {
        margin-top: 20px;
    }
}

.lang-menu__item {
    display: flex;

    &:not(:last-child) {
        margin-right: 5px;

        &::after {
            content: "";
            transform: translateY(50%);
            display: block;
            width: 1px;
            height: 50%;
            margin-left: 5px;

            background-color: var(--text-main);
        }
    }
}

.lang-menu__btn {
    padding: 10px;

    font-size: 20px;
    text-transform: uppercase;
    color: var(--text-main);

    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 5px 10px 5px 10px;
    transition: background-color var(--animation-duration) var(--animation-timing-function), color var(--animation-duration) var(--animation-timing-function);

    &:hover {
        color: var(--bgc-main);
        background-color: var(--accent-color);
    }

    @include mq(desktop) {
        border-radius: 10px 5px 10px 5px;
    }
}