.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: calc(3 * var(--spacing));
    padding-bottom: calc(3 * var(--spacing));
}

.socials__item {
    width: 44px;
    height: 44px;

    &:not(:first-child) {
        margin-left: calc(5 * var(--spacing));
    }
}

.socials__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    color: var(--text-second);

    background-color: var(--bgc-third);
    border: none;
    border-radius: 20px 10px 20px 10px;

    transition: color var(--animation-duration) var(--animation-timing-function),
        background-color var(--animation-duration) var(--animation-timing-function);

    &:hover,
    &:focus {
        background-color: var(--bgc-second);
    }
}

.socials__icon {
    fill: currentColor;
}