.vacancies {
  min-height: 2200px;
}

.vacancies__title {
  margin-bottom: calc(10 * var(--spacing));

  font-size: 28px;
  text-align: center;
  color: var(--text-third);

  @include mq(desktop) {
    font-size: 36px;
  }
}

.vacancies__list {
  margin-bottom: calc(12 * var(--spacing));

  @include mq(desktop) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    margin-bottom: calc(12 * var(--spacing));
  }
}

.vacancies__item {
  color: var(--text-second);
  background-color: var(--bgc-third);

  @include mq(notDesktop) {
    &:not(:last-child) {
      margin-bottom: calc(5 * var(--spacing));
    }
  }

  @include mq(tablet-only) {
    max-width: 400px;
    margin: 0 auto;
  }

  @include mq(desktop) {
    flex-basis: calc((100% - 60px) / 3);
    margin: calc(2 * var(--spacing));
  }
}

.vacancies__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0;
  height: 100%;
  width: 100%;
  padding: calc(5 * var(--spacing));

  font-size: 20px;
  font-weight: 700;
  line-height: 2;

  @include mq(notDesktop) {
    cursor: auto;
  }

  &:hover {
    background-color: var(--accent-color);
    box-shadow: 1px 1px 10px rgb(148, 133, 133);
  }
}

.vacancies__label {
  color: var(--text-second);
}

.vacancies__icon {
  position: relative;
  display: flex;
  flex: 0 0 20px;
  width: 15px;
  height: 15px;
  margin-left: calc(6 * var(--spacing));

  background: var(--arrow-color);

  animation: bump 0.4s ease-in infinite alternate;
  transform: rotateZ(90deg);

  .vacancies__link:hover & {
    animation: bump 0.4s ease-in 1 alternate;
    transform: translate(-30%, -50%) rotateZ(0deg);
  }
  
  &::after {
    content: '';
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    top: 100%;
    
    border: 15px solid transparent;
    border-top-color: var(--arrow-color);
  }

  @keyframes bump {
    0% {
      transform: translateX(10%) rotateZ(90deg);
    }

    100% {
      transform: translateX(-10%) rotateZ(90deg);
    }
  }
}

.vacancies__details {
  display: block;
  transform: translateX(0) scale(1);
  transition: all 1000ms ease;

  &--is-hidden {
    height: 0;
    opacity: 0;
    visibility: hidden;
    
    transform: translateX(-200%) scale(0.5);
  }
}

.vacancies__details-wrapper {
  padding: calc(8 * var(--spacing)) calc(4 * var(--spacing));

  background-color: var(--bgc-third);
  box-shadow: 3px 3px 30px var(--box-shadow);

  @include mq(desktop) {
    padding: calc(10 * var(--spacing)) calc(25 * var(--spacing));
  }
}

.vacancies__details-position {
  margin-bottom: calc(8 * var(--spacing));

  font-size: 38px;
  text-transform: uppercase;
  text-align: center;
}

.vacancies__details-label {
  margin-bottom: calc(1 * var(--spacing));
  
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;

  @include mq(desktop) {
    font-size: 24px;
  }
}

.vacancies__details-list {
  padding-left: calc(5 * var(--spacing));
  list-style-type: disc;

  &:not(:last-child) {
    margin-bottom: calc(8 * var(--spacing));
  }
}

.vacancies__details-item {
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;

  &:not(:last-child) {
    margin-bottom: calc(2 * var(--spacing));
  }

  @include mq(tablet) {
    font-size: 16px;
  }

  @include mq(desktop) {
    font-size: 18px;
  }
}

.vacancies__btn-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.vacancies__details-btn {
  display: inline-block;
  margin-top: calc(10 * var(--spacing));
  padding: calc(5 * var(--spacing)) calc(8 * var(--spacing));

  background-color: var(--form-accent-main);

  @include mq(tablet) {
    padding: calc(5 * var(--spacing)) calc(15 * var(--spacing));
  }

  @include mq(notDesktop) {
    cursor: none;
  }

  &:not(:last-child) {
    margin-right: calc(5 * var(--spacing));
  }
}