.vacancies {
    // background-image: url('../images/main-page/hero.jpg');
      // background-size: cover;
      // background-position: center;
      background: linear-gradient(4deg, #5462c3, #ba872c);
      padding-top: 30px;
      padding-bottom: 1000px;
    
      @include mq(tablet) {
        padding-bottom: 450px;
      }
    
      @include mq(desktop) {
        padding-bottom: 600px;
        padding-top: 50px;
      }
}

.vacancies__title {
  margin-bottom: 40px;

  font-size: 28px;
  text-align: center;
}

.vacancies__list {
  @include mq(desktop) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.vacancies__item {
  color: var(--main-black);
  background-color: var(--accent-color);

  @include mq(notDesktop) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @include mq(tablet-only) {
    max-width: 400px;
    margin: 0 auto;
  }

  @include mq(desktop) {
    flex-basis: calc((100% - 60px) / 3);
    margin: 10px;
  }
}

.vacancies__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0;
  height: 100%;
  width: 100%;
  padding: 20px 20px;

  font-size: 20px;
  font-weight: 700;
  line-height: 2;

  &:hover {
    background-color: var(--accent-color);
    box-shadow: 1px 1px 10px rgb(148, 133, 133);
  }

  @include mq(desktop) {
    cursor: pointer;
  }
}

.vacancies__label {
  color: var(--main-black);
}

.vacancies__icon {
  position: relative;
  display: flex;
  flex: 0 0 20px;
  width: 15px;
  height: 15px;
  margin-left: 25px;

  background: var(--main-blue);

  animation: bump 0.4s ease-in infinite alternate;
  transform: rotateZ(90deg);
  

  &::after {
    content: '';
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    top: 100%;
    
    border: 15px solid transparent;
    border-top-color: var(--main-blue);
  }

  .vacancies__btn:hover & {
    transform: translate(-30%, -50%) rotateZ(0deg);
  }

  @keyframes bump {
    0% {
      transform: translateX(10%) rotateZ(90deg);
    }

    100% {
      transform: translateX(-10%) rotateZ(90deg);
    }
  }

  .vacancies__btn:hover & {
    animation: bump 0.4s ease-in 1 alternate;
  }
}

.vacancies__details {
  margin-top: 50px;
  transition: all 500ms ease;

  &--is-hidden {
    opacity: 0;
    visibility: hidden;
  }
}

.vacancies__details-wrapper {
  padding: 15px;

  background-color: white;

  @include mq(desktop) {
  padding: 20px 100px;
  }
}

.vacancies__details-position {
  margin-bottom: 30px;
  
  font-size: 38px;
  text-transform: uppercase;
  text-align: center;
}

.vacancies__details-label {
  margin-bottom: 5px;
  
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.vacancies__details-list {
  padding-left: 20px;
  list-style-type: disc;
}

.vacancies__details-item {
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.vacancies__btn-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.vacancies__details-btn {
  display: inline-block;
  margin-top: 40px;
  padding: 20px 30px;

  background-color: var(--form-accent-main);

  &:not(:last-child) {
    margin-right: 20px;
  }

  @include mq(tablet) {
    padding: 20px 60px;
  }
}