.vacancies {}

.vacancies__title {
  margin-bottom: 20px;

  font-size: 28px;
  text-align: center;
}

.vacancies__list {
  @include mq(desktop) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.vacancies__item {
  color: var(--main-black);
  background-color: var(--accent-color);

  @include mq(notDesktop) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @include mq(tablet-only) {
    max-width: 400px;
    margin: 0 auto;
  }

  @include mq(desktop) {
    flex-basis: calc((100% - 60px) / 3);
    margin: 10px;
  }
}

.vacancies__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0;
  height: 100%;
  width: 100%;
  padding: 20px 20px;

  font-size: 20px;
  font-weight: 700;
  line-height: 2;

  &:hover {
    background-color: var(--accent-color);
    box-shadow: 1px 1px 10px rgb(148, 133, 133);
  }

  @include mq(desktop) {
    cursor: pointer;
  }
}

.vacancies__label-text {
  font-size: 20px;
  font-weight: 700;
  line-height: 2;
}

.vacancies__icon {
  position: relative;
  display: flex;
  flex: 0 0 20px;
  width: 15px;
  height: 15px;
  margin-left: 25px;

  background: var(--main-blue);

  animation: bump 0.4s ease-in infinite alternate;
  transform: rotateZ(90deg);

  &::after {
    content: '';
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    top: 100%;
    
    border: 15px solid transparent;
    border-top-color: var(--main-blue);
  }

  @keyframes bump {
    0% {
      transform: translate(0, -40%);
    }

    100% {
      transform: translate(0, -60%);
    }
  }

  .vacancies__btn:hover & {
    animation: bump 0.4s ease-in 1 alternate;
  }
}

.vacancies__details {}