.contacts {
    @include mq(notDesktop) {
        margin-top: 30px;
    }
}

.contacts__item {
    &:not(:last-child) {
        margin-bottom: 10px;
    }

    @include mq(desktop) {
        text-align: center;

        &:not(:last-child) {
            margin-bottom: 5px;
        }
    }
}

.contacts__link {
    display: block;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    font-size: 16px;
    font-weight: 700;
    color: var(--text-main);

    border: 1px solid transparent;
    border-radius: 10px 20px 10px 20px;
    transition: background-color var(--animation-duration) var(--animation-timing-function), color var(--animation-duration) var(--animation-timing-function);

    @include mq(desktop) {
        padding-top: 5px;
        padding-bottom: 5px;

        border-radius: 30px 10px 30px 10px;
    }

    &:hover,
    &:focus {
        background-color: var(--accent-color);
        color: var(--bgc-main);
    }

    &--small {
        font-size: 14px;

        @include mq(tablet) {
            font-size: 18px;
        }

        @include mq(desktop) {
            font-size: 12px;
        }
    }

    &--big {
        font-size: 20px;

        @include mq(desktop) {
            font-size: 16px;
        }
    }
}