.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    width: 100%;
    height: var(--header-fix);
    background: linear-gradient(1deg, var(--bgc-main) 30%, var(--main-blue));
}

.header__container {
    display: flex;
    align-items: center;
}