.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    width: 100%;
    height: var(--header-fix-mobile);
    background-color: var(--bgc-main);
    border-bottom: 1px solid var(--think-line);

    @include mq(tablet) {
        height: var(--header-fix-desktop);
    }
}

.header__container {
    display: flex;
    align-items: center;
}