.nav {
    @include mq(desktop) {
        margin: 0 auto;
    }
}

.nav__list {
    @include mq(desktop) {
        display: flex;
    }
}

.nav__item {
    @include mq(notDesktop) {
        opacity: 0;
        transform: translateY(-50%);

        &:nth-child(1) {
            transition: transform 300ms var(--animation-timing-function) var(--animation-duration),
                opacity 300ms var(--animation-timing-function) var(--animation-duration);
        }
    
        &:nth-child(2) {
            transition: transform 400ms var(--animation-timing-function) var(--animation-duration),
                opacity 400ms var(--animation-timing-function) var(--animation-duration);
        }
    
        &:nth-child(3) {
            transition: transform 500ms var(--animation-timing-function) var(--animation-duration),
                opacity 500ms var(--animation-timing-function) var(--animation-duration);
        }
    
        &:nth-child(4) {
            transition: transform 600ms var(--animation-timing-function) var(--animation-duration),
                opacity 600ms var(--animation-timing-function) var(--animation-duration);
        }
    
        &:nth-child(5) {
            transition: transform 700ms var(--animation-timing-function) var(--animation-duration),
                opacity 700ms var(--animation-timing-function) var(--animation-duration);
        }
    
        &:nth-child(6) {
            transition: transform 800ms var(--animation-timing-function) var(--animation-duration),
                opacity 800ms var(--animation-timing-function) var(--animation-duration);
        }
    }

    @include mq(desktop) {
        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    .menu.is-open & {
        opacity: 1;
        transform: translateY(0);
    }
}

.nav__link {
    display: block;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

    font-size: 28px;
    line-height: 40px;
    text-transform: capitalize;
    color: var(--text-main);

    border-radius: 10px 10px 30px 20px;
    box-shadow: 1px 1px 1px var(--text-main);
    transition: background-color var(--animation-duration) var(--animation-timing-function), color var(--animation-duration) var(--animation-timing-function);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
        color: var(--bgc-main);
    }

    @include mq(desktop) {
        padding-top: 10px;
        padding-right: 5px;
        padding-bottom: 10px;
        padding-left: 5px;

        font-size: 20px;

        border-radius: 30px 10px 30px 10px;
    }
}