.nav {
    @include mq(desktop) {
        margin: 0 auto;
    }
}

.nav__list {
    @include mq(desktop) {
        display: flex;
    }
}

.nav__item {
    @include mq(notDesktop) {
        opacity: 0;
        transform: translateY(-50%);

        &:nth-child(1) {
            transition: transform 300ms var(--animation-timing-function) var(--animation-duration),
                opacity 300ms var(--animation-timing-function) var(--animation-duration);
        }
    
        &:nth-child(2) {
            transition: transform 400ms var(--animation-timing-function) var(--animation-duration),
                opacity 400ms var(--animation-timing-function) var(--animation-duration);
        }
    
        &:nth-child(3) {
            transition: transform 500ms var(--animation-timing-function) var(--animation-duration),
                opacity 500ms var(--animation-timing-function) var(--animation-duration);
        }
    
        &:nth-child(4) {
            transition: transform 600ms var(--animation-timing-function) var(--animation-duration),
                opacity 600ms var(--animation-timing-function) var(--animation-duration);
        }
    
        &:nth-child(5) {
            transition: transform 700ms var(--animation-timing-function) var(--animation-duration),
                opacity 700ms var(--animation-timing-function) var(--animation-duration);
        }
    
        &:nth-child(6) {
            transition: transform 800ms var(--animation-timing-function) var(--animation-duration),
                opacity 800ms var(--animation-timing-function) var(--animation-duration);
        }
    }

    @include mq(desktop) {
        &:not(:last-child) {
            margin-right: calc(3 * var(--spacing));
        }
    }

    .menu.is-open & {
        opacity: 1;
        transform: translateY(0);
    }
}

.nav__link {
    position: relative;
    display: block;
    padding: calc(3.5 * var(--spacing)) calc(2.5 * var(--spacing));

    font-size: 28px;
    font-weight: 500;
    // line-height: 3;
    text-transform: capitalize;
    color: var(--text-main);

    border-radius: 10px 10px 30px 20px;
    
    @include mq(notDesktop) {
        box-shadow: 1px 2px 5px var(--box-shadow);
    }

    @include mq(desktop) {
        padding: calc(4.5 * var(--spacing)) calc(2 * var(--spacing));

        font-size: 20px;

        border-radius: 30px 10px 30px 10px;
        transition: color var(--animation-duration) var(--animation-timing-function), box-shadow var(--animation-duration) var(--animation-timing-function);
    }

    &:hover,
    &:focus {
        color: var(--text-third);
        
        @include mq(desktop) {
            box-shadow: 1px 2px 5px var(--box-shadow);
        }
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        
        background: linear-gradient(1deg, var(--bgc-linear) 30%, var(--bgc-third));
        border-radius: 10px 10px 30px 20px;
        transition: opacity var(--animation-duration) var(--animation-timing-function);
        opacity: 0;
        z-index: -1000;

        @include mq(desktop) {
            border-radius: 30px 10px 30px 10px;
        }
    }

    &:hover::before {
        opacity: 1;
    }

    &--is-active {
        color: white;
    }
}